docs/aliyun_api-key.md
docs/*api-key.md
!docs/aliyun_api-key.example.md

.env
**/.env

venv/
**/venv/
__pycache__/
**/__pycache__/
*.pyc

data/playwright_state.json
**/data/playwright_state.json

projects/
output/
remotion_video/public/

node_modules/
**/node_modules/
dist/
**/dist/
dist-ssr/
**/dist-ssr/

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.DS_Store
Thumbs.db
.trae/
.idea/
.vscode/*
!.vscode/extensions.json

tieba_AISHITCOLLECTION_AI/data/
tieba_AISHITCOLLECTION_AI/
API_Music_Download/

pw-browsers/
